APP_NAME="Kivo ERP"
APP_COMPANY="Mon entreprise"
APP_TEMPLATE=enterprise
APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_URL=http://localhost:8080

DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=kivo
DB_USERNAME=root
DB_PASSWORD=

ADMIN_NAME=Administrateur
ADMIN_EMAIL=admin@demo.local
ADMIN_PASSWORD=
